# Patterns to ignore when building packages.
.DS_Store
*.swp
*.bak
*.tmp
*.orig
*~

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.tmproj
.idea/
*.iml

# UNIX backup files
.#*
*#

# Testing
tests/
*.test.yaml

